/* 
 $Id$
*/

/**
 *@file
 * Style sheet for Candidate Questionnaire module.
 *
 *
*/

root { 
  display: block;
}


p.cq-notice {
  border: solid #eeeeee;
  font-style: italic;
  font-size: 75%;
  margin: 0px 50px 10px 50px;
  padding: 1px;
  text-align: center;
}

/* Questions */

div.cq-question {
  background-color: #dddddd;
  margin: 0px 30px 10px 30px;
  padding: 5px 10px 5px 10px;
}

div.cq-question h2 {
  /*font-size: 50%;*/
}

div.cq-question p {

}

div.cq-question-teaser {
  background-color: #dddddd;
  margin: 0px 30px 10px 30px;
  padding: 5px 10px 5px 10px;
}

div.cq-question-teaser h3 {
  /*font-size: 50%;*/
}

div.cq-question-teaser p {

}


/* Responses */

div.cq-response {
  background-color: #f0f0f0;
  margin: 0px 30px 10px 30px;
  padding: 5px 10px 5px 10px;
}

div.cq-response h3 {
  /*font-size: 50%;*/
}

div.cq-response p {

}

/* cq_user_responses */

div.cq-qna-header {

}

div.cq-qna-odd {
  background-color: #eeeeee;
  padding: 5px 5px 5px 5px;
}

div.cq-qna-even {
  background-color: #dddddd;
  padding: 5px 5px 5px 5px;
}

div.cq-qna-question {

}

div.cq-qna-response {

}

div.cq-qna-more {
  color: #888888;
}


div.cq-user {

}

.user-table {
}

.cq-user-row-odd {
}
.cq-user-row-even {
}

.qr-table {  
}

.cq-qr-row-odd {
}
.cq-qr-row-even {
}


.cq-link {

}

p.cq-qrlink {

}
p.cq-userlink {

}

p.cq-synopsis {

}

p.cq-pubn {

}

p.cq-emph {

}

/* Content */

div.content {

}

div.cq-body {
  background-color: #dddddd;
  margin: 0px 30px 10px 30px;
  padding: 5px 10px 5px 10px;
}

/* Blocks */

div.cq-block {

}